@font-face {
    font-family: 'sfu_helveticablack';
    src: url('SFUHelveticaBlack.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticabold';
    src: url('SFUHelveticaBold.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticacompressed';
    src: url('SFUHelveticaCompressed.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticalight';
    src: url('SFUHelveticaLight.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticalightoblique';
    src: url('SFUHelveticaLightOblique.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticaneueultralight';
    src: url('SFUHelveticaNeueUltraLight.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfu_helveticaoblique';
    src: url('SFUHelveticaOblique.TTF');
    font-weight: normal;
    font-style: normal;
}

/*bootrap rewrite*/
.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: #ededed;
    font-family: 'sfu_helveticalight', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

p {
    margin: 0 0 10px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: #333;
    outline: 0;
    text-decoration: none;
}

.no-pad {
    padding: 0;
}

.no_pad_left {
    padding-left: 0;
}

.no_pad_right {
    padding-right: 0;
}

.space_5 {
    width: 100%;
    height: 5px;
    clear: both;
}

.space_10 {
    width: 100%;
    height: 10px;
    clear: both;
}

.space_20 {
    width: 100%;
    height: 20px;
    clear: both;
}

.space_30 {
    width: 100%;
    height: 30px;
    clear: both;
}

.space_40 {
    width: 100%;
    height: 40px;
    clear: both;
}

.space_50 {
    width: 100%;
    height: 50px;
    clear: both;
}

.space_60 {
    width: 100%;
    height: 60px;
    clear: both;
}

.uppercase {
    text-transform: uppercase;
}

.font_22 {
    font-size: 22px;
}

.font_20 {
    font-size: 20px;
}

.font_26 {
    font-size: 26px;
}

.font_15 {
    font-size: 15px;
}

.font_17 {
    font-size: 17px;
}

.pad_10 {
    padding: 10px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) and (min-width: 1370px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1369px) and (min-width: 769px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}